.accommodations__box {

}

.accommodation {
  &__photo {
    width: 20rem;
  }

  &__category {
  }

  &__city {
  }

  &__desc {
  }

  &__price {
  }

  &__star-box {
  }

  &__star {
    width: 1rem;
    height: 1rem;
  }
}
