.navbar {
  grid-column: 1 / -1;
  font-size: 1.7rem;
  padding: 0 10rem 0rem 5rem;
  margin-bottom: 0.1rem;

  display: grid;
  grid-auto-flow: column;
  align-items: center;

  &__navigation {
    justify-self: end;
  }

  &__logo {
    width: 5rem;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    & > a {
      display: inline-block;
      padding: 3rem 1rem;
      border-bottom: 1px solid #fff;
    }
  }

  &__item > a:link,
  &__item > a:visited {
    color: #000;
  }

  &__item > a:hover,
  &__item > a:active {
    border-bottom: 1px solid #000;
  }
}

@media screen and (max-width: 697px) {
  .navbar {
    display: grid;
    padding: 0 5rem;
    justify-content: center;
  }

  .navbar__box {
    display: none;
  }
}

@media screen and (max-width: 597px) {
  .navbar__item {
    display: block;
    padding: 0;
    margin: 2rem 0;
    

    & > a:link {
      padding: 0;
      border-bottom: 1px solid #fff;
    }

    &:not(:last-child) {
      margin-right: 0;
    }
  } 

  .navbar__navigation {
    text-align: center;
  }
}
