*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Oen Sans', sans-serif; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.container {
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 120rem) 1fr;
  grid-template-rows: repeat(4, min-content); }

.navbar {
  grid-column: 1 / -1;
  font-size: 1.7rem;
  padding: 0 10rem 0rem 5rem;
  margin-bottom: 0.1rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center; }
  .navbar__navigation {
    justify-self: end; }
  .navbar__logo {
    width: 5rem; }
  .navbar__item {
    display: inline-block; }
    .navbar__item:not(:last-child) {
      margin-right: 3rem; }
    .navbar__item > a {
      display: inline-block;
      padding: 3rem 1rem;
      border-bottom: 3px solid #fff; }
  .navbar__item > a:link,
  .navbar__item > a:visited {
    color: #000; }
  .navbar__item > a:hover,
  .navbar__item > a:active {
    border-bottom: 1px solid #000; }

.header {
  grid-column: 1 / -1;
  height: 40vh;
  width: 100%;
  background-image: url(../../img/header.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  place-content: center; }
  .header__title {
    font-size: 4rem;
    font-weight: 380;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px #000; }
  .header__search {
    position: relative; }
  .header__search-icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    fill: gray; }
  .header__input {
    height: 5rem;
    width: 35vw;
    font-size: 2rem;
    padding: 3rem 0 3rem 5rem;
    margin-top: 2rem;
    margin-right: -9rem; }
    .header__input::placeholder {
      font-size: 2rem; }
  .header__button {
    height: 4rem;
    width: 7rem;
    background-color: lightsalmon;
    border: none; }

.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(3, min-content); }

.footer {
  background-color: orange;
  grid-column: 2 / 3; }

.discover__title {
  font-size: 2.6rem;
  margin: 3rem 0; }

.discover__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 270px));
  grid-column-gap: 5rem; }

.discover__link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  grid-column-gap: 2rem;
  box-shadow: 0 0 2px black; }

.discover__img {
  width: 105px; }

.discover__text {
  font-size: 1.6rem; }
