*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Oen Sans', sans-serif; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.container {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(max-content, 110rem) minmax(2rem, 1fr);
  grid-template-rows: repeat(4, min-content); }

.navbar {
  grid-column: 1 / -1;
  font-size: 1.7rem;
  padding: 0 10rem 0rem 5rem;
  margin-bottom: 0.1rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center; }
  .navbar__navigation {
    justify-self: end; }
  .navbar__logo {
    width: 5rem; }
  .navbar__item {
    display: inline-block; }
    .navbar__item:not(:last-child) {
      margin-right: 3rem; }
    .navbar__item > a {
      display: inline-block;
      padding: 3rem 1rem;
      border-bottom: 1px solid #fff; }
  .navbar__item > a:link,
  .navbar__item > a:visited {
    color: #000; }
  .navbar__item > a:hover,
  .navbar__item > a:active {
    border-bottom: 1px solid #000; }

@media screen and (max-width: 697px) {
  .navbar {
    display: grid;
    padding: 0 5rem;
    justify-content: center; }
  .navbar__box {
    display: none; } }

@media screen and (max-width: 597px) {
  .navbar__item {
    display: block;
    padding: 0;
    margin: 2rem 0; }
    .navbar__item > a:link {
      padding: 0;
      border-bottom: 1px solid #fff; }
    .navbar__item:not(:last-child) {
      margin-right: 0; }
  .navbar__navigation {
    text-align: center; } }

.header {
  grid-column: 1 / -1;
  height: 40vh;
  width: 100%;
  background-image: url(../../img/header.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  place-content: center; }
  .header__title {
    font-size: 4rem;
    font-weight: 380;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px #000; }
  .header__search {
    position: relative; }
  .header__search-icon {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    fill: gray; }
  .header__input {
    height: 5rem;
    width: 35vw;
    font-size: 2rem;
    padding: 3rem 0 3rem 5rem;
    margin-top: 2rem;
    margin-right: -9rem; }
    .header__input::placeholder {
      font-size: 2rem; }
  .header__button {
    height: 4rem;
    width: 7rem;
    background-color: lightsalmon;
    border: none; }

@media screen and (max-width: 1400px) {
  .header__input {
    min-width: 500px; } }

@media screen and (max-width: 900px) {
  .header__title {
    font-size: 3rem; } }

@media screen and (max-width: 600px) {
  .header {
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-content: center; }
    .header__search {
      grid-column: 2 / 3;
      display: grid;
      grid-auto-flow: column;
      align-items: center; }
  .header__title {
    display: none; }
  .header__input {
    width: 65vw;
    min-width: auto;
    height: 4rem;
    padding: 0;
    margin-top: 0;
    margin-right: 1rem; }
    .header__input::placeholder {
      font-size: 1.4rem;
      font-weight: bold; }
  .header__search-icon {
    display: none; }
  .header__button {
    height: 4rem; } }

.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(3, min-content); }

.footer {
  background-color: orange;
  grid-column: 2 / 3; }

.discover__title {
  font-size: 2.6rem;
  margin: 3rem 0; }

.discover__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 270px));
  grid-column-gap: 2rem; }

.discover__link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  grid-column-gap: 2rem;
  box-shadow: 0 0 2px black; }

.discover__img {
  width: 105px; }

.discover__text {
  font-size: 1.6rem; }

.airbnbplus__title {
  font-size: 2.6rem;
  margin: 3rem 0; }

.airbnbplus__box {
  background-image: url("../../img/airbnbplus.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  justify-content: start;
  grid-row-gap: 3rem;
  padding: 4rem 0 4rem 6rem; }

.airbnbplus__desc {
  font-size: 2.2rem;
  color: gray;
  text-shadow: 0 0 1px gray; }

.airbnbplus__link:link, .airbnbplus__link:visited {
  color: gray;
  display: block;
  padding: 2rem 1rem; }

.airbnbplus__button {
  background-color: white;
  justify-self: start;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 10px gray;
  border-radius: 5px; }

.airbnbplus__logo-box {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center; }

.airbnbplus__logo {
  width: 5rem; }

.airbnbplus__logo-box > p {
  font-size: 3rem;
  color: gray;
  font-weight: 700; }

.accommodations__title {
  margin: 3rem 0;
  font-size: 2.6rem; }

.accommodations__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 22rem));
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  justify-content: space-between; }

.accommodation {
  display: grid;
  grid-row-gap: 0.5rem; }
  .accommodation__photo {
    width: 22rem; }
  .accommodation__details > p {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold; }
  .accommodation__desc {
    font-size: 1.6rem;
    word-spacing: 2px;
    font-weight: bold;
    line-height: normal; }
  .accommodation__price {
    font-size: 1.2rem; }
  .accommodation__star {
    width: 1rem;
    height: 1rem; }
  .accommodation__raiting {
    display: inline-block;
    margin-left: 1rem; }
